<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p><span>Hola, </span></p>
        <p><span>Recibimos una solicitud para restablecer la contraseña de tu cuenta de SnCiudad.</span></p>
        <p><span>Si no solicitaste este cambio, ignora este correo.</span><span></span></p>
    </div>
    <div >
        <p ><span
                >Para restablecer tu
                contraseña, haz clic en el siguiente enlace: </span><span
                ></span></p>
                <a href="{{url}}" target="_blank" >
                    <span ><span
                            ><strong><span >RESTABLECER
                                    CONTRASEÑA</span></strong>
                        </span>
                    </span>
                </a>
    </div>
    <div>
        <p ><span
                >Ten en cuenta que este
                enlace es válido por 6 horas. Si no restableces tu contraseña en este lapso de tiempo, deberás solicitar un
                nuevo enlace de restablecimiento.</span>
            <span ></span>
        </p>
    </div>
</body>
</html>