<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
</head>
<body>
    <div>
        <h1>Felicitaciones {{first_name}} {{last_name}}, te has registrado en la app SnCiudad</h1>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem rem, suscipit, numquam corrupti sapiente mollitia perferendis hic doloremque ipsum a veritatis magni in similique odio, natus delectus voluptatibus maiores debitis?</p>
            <img src="https://github.com/org-sistemas-sn/desafio-tecnico/blob/advancedPlus/assets/sn-insignia.png?raw=true" alt="sn-logo">
        </div>
        <div>
            <a href="{{url}}" target="_blank" >
                <h2 >
                    Ingresar
                </h2>
            </a>
        </div>
    </div>
</body>
</html>